/* CSS styles for the Avail Packages form */
body {
    font-family: 'Poppins', sans-serif;
    background-image: url('https://www.shutterstock.com/image-photo/basket-fresh-fruits-on-wooden-table-763518739');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

p {
    text-align: center;
    margin-bottom: 50px;
}

form {
    width: 600px; /* Adjust the width as per your requirements */
    margin: 0 auto;
    background-color: transparent; /* Set the background color to transparent */
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align form items to the left */
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
}

form input[type="text"],
form input[type="email"],
form input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #04817f; /* Change the background color to green */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #04817f; /* Change the hover background color to a darker shade of green */
}

form h2 {
    margin-bottom: 20px;
}

form .category {
    margin-bottom: 10px;
}

form .package {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align items to the left */
}

form .package label {
    margin-bottom: 5px;
    margin-right: 5px;
}

form .package input[type="checkbox"] {
    margin-right: 5px; /* Add some space between the checkbox and the option */
}

#thank-you a {
    display: inline-block;
    margin-top: 20px;
    color: green; /* Change the color to green */
    text-decoration: none;
}

#thank-you a:hover {
    color: darkgreen; 
}
