*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* banner section background and color */
.banner{
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), #0e685f), url(./media/images_and_Videos/aboutheader.jpg);
    background-size: cover;
    background-position: center;
}

/* logo styling */
.logo{
    width: 70px;
    position: absolute;
    top: 4%;
    left: 7%;
    border-radius: 8px;
}

/* side navigation and menu button */
#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #2a4746;
    z-index: 2;
    font-size: small;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
#menuBtn{
    width: 50px;
    height: 50px;
    background: #06655c;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 8px;
    z-index: 3;
    cursor: pointer;
}

/*Media query for the Menu*/
#menuBtn img{
    width: 20px;
    margin-top: 15px;
}
@media screen and (max-width:770px){
    .banner-text h1{
        font-size: 44px;
    }
    .banner-btn a{
        display: block;
        margin: 20px auto;
    }
}

/* about the company paragraph */
.about-text{
    text-align: center;
    color: #fff;
    padding-top: 170px;
    font-size: 50px;
    font-family: 'Kalam', cursive;
}
/* about the comapny */
.about-us{
    padding: 60px;
}
.container{
    justify-content: space-around;
    display: flex;
    gap: 10px;
}
.company{
    padding: 20px;
    font-size: 18px;
    line-height: 1.6;
    flex: 1;
}
.img-sect{
    padding: 20px;
    flex: 1;
    overflow: hidden;
    width: 200px;
    height: 250px;

}
.img-sect img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
/* buttons */
/* .banner-btn{
    margin: 10px auto 0;
}
.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 5px 10px;
    padding: 12px 20px;
    color: #21433c;
    border: 0.5px solid black;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}
.banner-btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #04817f;
    z-index: -1;
    transition: 0.5s;
}
.banner-btn a:hover span{
    width: 100%;
}
.banner-btn a:hover{
    color: #000;
} */

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #2a4746;
    background: transparent;
    color: black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #0e685f;
    width: 0;
    height: 100%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
/* teamates styling */
.team{
    border-top: 5px solid rgb(46, 91, 74);
}
.team h2{
    text-align: center;
    padding: 50px;
    font-size: 50px;
    font-weight: 30px;
    color: #2a4746;
    font-family: Arial, Helvetica, sans-serif;
}
.team h4{
    font-style: italic;
    padding: 7px;
}
.first-group{
    display: flex;
    justify-content: space-around;
}
.teamate-1{
    padding: 20px;
    margin: 10px;
    flex: 1;
}
.teamate-1 img{
    padding: 20px;
    flex: 1;
    overflow: hidden;
    width: 220px;
    height: 200px;
    object-fit: cover;
    border-radius: 50px;
}
.teamate-2{
    padding: 20px;
    margin: 10px;
    flex: 1;
}
.teamate-2 img{
    padding: 20px;
    flex: 1;
    overflow: hidden;
    width: 220px;
    height: 200px;
    object-fit: cover;
    border-radius: 50px;
}
.teamate-3{
    padding: 20px;
    margin: 10px;
    flex: 1;
}
.teamate-3 img{
    padding: 20px;
    flex: 1;
    overflow: hidden;
    width: 220px;
    height: 200px;
    object-fit: cover;
    border-radius: 50px;
}
.second-group{
    display: flex;
    justify-content: space-around;
}
.teamate-4{
    padding: 20px;
    margin: 10px;
    flex: 1;
}
.teamate-4 img{
    padding: 20px;
    flex: 1;
    overflow: hidden;
    width: 220px;
    height: 200px;
    object-fit: cover;
    border-radius: 50px;
}
.teamate-5{
    padding: 20px;
    margin: 10px;
    flex: 1;
}
.teamate-5 img{
    padding: 20px;
    flex: 1;
    overflow: hidden;
    width: 220px;
    height: 200px;
    object-fit: cover;
    border-radius: 50px;
}
.teamate-6{
    padding: 20px;
    margin: 10px;
    flex: 1;
}
.teamate-6 img{
    padding: 20px;
    flex: 1;
    overflow: hidden;
    width: 220px;
    height: 200px;
    object-fit: cover;
    border-radius: 50px;
}