/* CSS styles for the Avail Packages form */
body {
    font-family: 'Poppins', sans-serif;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
  }
  
  p {
    text-align: center;
    margin-bottom: 50px;
  }
  
  form {
    width: 400px;
    margin: 0 auto;
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #06655c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  form input[type="submit"]:hover {
    background-color: #04817f;
  }
  
  form h2 {
    margin-bottom: 20px;
  }
  
  form .category {
    margin-bottom: 10px;
  }
  
  form .package {
    margin-left: 20px;
  }
  
  form .package label {
    display: block;
    margin-bottom: 5px;
  }
  
  form .package input[type="checkbox"] {
    margin-top: 5px;
  }
  