*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/*Styling dor the green backgroud at the landing page*/
#banner{
    background: linear-gradient(rgba(0,0,0,0.5), #0e685f), url(./media/images_and_Videos/pexels-cottonbro-studio-4056529.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/*The logo and landing page styling continues*/
.logo{
    width: 70px;
    position: absolute;
    top: 4%;
    left: 7%;
    border-radius: 8px;
}
.banner-text{
    text-align: center;
    color: #fff;
    padding-top: 170px;
}
.banner-text h1{
    font-size: 500%;
    font-family: 'Kalam', cursive;
}
.banner-text p{
    font-size: 18px;
    font-style: italic;
    margin: 0 auto;
}
.banner-btn{
    margin: 70px auto 0;
}
.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: 0.5px solid #fff;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}
.banner-btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
}
.banner-btn a:hover span{
    width: 100%;
}
.banner-btn a:hover{
    color: #000;
}
#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #04817f;
    z-index: 2;
    font-size: small;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
#menuBtn{
    width: 50px;
    height: 50px;
    background: #06655c;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 8px;
    z-index: 3;
    cursor: pointer;
}

/*Media query for the Menu*/
#menuBtn img{
    width: 20px;
    margin-top: 15px;
}
@media screen and (max-width:770px){
    .banner-text h1{
        font-size: 44px;
    }
    .banner-btn a{
        display: block;
        margin: 20px auto;
    }
}

.who-we-are{
    padding: 100px;
}
.container-who{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.img-section{
    flex: 1;
    text-align: center;
    opacity: 0;
    transform: translateY(50px);
    animation: slideIn 1s forwards;
}
.img-section img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.content-section{
    flex: 1;
    margin-left: 40px;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeIn 1s forwards;
    animation-delay: 0.5s;
}
.content-section h2{
    font-size: 35px;
    margin-bottom: 20px;
}
.content-section p{
    font-size: 18px;
    line-height: 1.6;
}
.content-section .button{
    display: inline-block;
    padding: 10px 15px;
    font-size: 17px;
    background-color: #2c8984;
    color: #fff;
    text-decoration: none;
    margin-top: 15px;
    transition: 0.5s ease;
    border-radius: 7px;
}
.content-section .button:hover{
    background-color: #68b9b2;
}

/*This code sets the fade in action when the page is relaoded at Aims section*/
@keyframes slideIn{
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/*Media querry for the image image of aim*/
@media screen and (max-width: 770px) {
    .container{
        flex-direction: column;
    }
    .img-section, .content-section{
        flex: 100%;
        margin: auto;
        text-align: center;
        padding: 0px;
    }
    .img-section img{
        width: 100%;
        margin-bottom: 30px;
    }
}

/*Aims section--*/

#aim{
    width: 100%;
    padding: 70px 0;
    
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p{
    margin: auto;
    font-size: 20px;
    color: #06655c;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#0b6b61,#fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
/*--this code is for the leaf-like icon shape on top of aims*/
}
.title-text h1{
    font-size: 50px;
}

.aim-box{
    width: 80%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.aim2{
    flex-basis: 50%;
}
.aim-img{
    flex-basis: 50%;
    margin: auto;
}
.aim-img img{
    width: 70%;
    border-radius: 10px;

}
.aim2 h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 480;
    color: #06655c;
}
.aim-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.aim-icon .fa{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #06655c;
    border: 1px solid #06655c;
}

.aim-text p{
    padding: 0 20px;
    text-align: initial;
}
/*Media querry for the aims section*/
@media screen and (max-width:770px) {
    .title-text h1{
        font-size: 35px;
    }
    .aim2{
        flex-basis: 100%;
    }
    .aim-img{
        flex-basis: 100%;
    }
    .aim-img img{
        width: 100%;
    }
}

/*This is the footer styling*/
footer{
    width: 100%;
    background-color: #b4c8c3;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    padding: 1rem;
}


.container-footer{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    width: 90%;
    margin: 20px auto 60px;
}
.container-footer>div>h2{
    color: #000100;
    font-family: sans-serif;
    font-size: 20px;
    padding: 20px 0;
}
.container-footer>div>ul{
    list-style-type: none;
}
.container-footer>div>ul>li{
    margin: 10px 0;
    cursor: pointer;
}
.container-footer>div>ul>li>a{
    font-size: 14px;
    text-decoration: none;
    font-family: sans-serif;
    position: relative;
    left: 0;
    padding: 2px;
    color: #000000;
    transition: all 0.4s;
}
.container-footer>div>ul>li>a:hover{
    left: 8px;
    background: #06655c;
    color: #fff;
    /* transform: translateY(-4px); */
    transition: 0.7s;
}
.container-footer>div>ul>li>a::selection{
    background-color: rgb(49, 148, 140);
    color: #b7cbc8;
}
.container-footer>div>form{
    background-color: #2d786b;
    margin: 10px 0 8px;
    padding: 6px 10px;
    border-radius: 7px;
    width: 100%;
}
.container-footer>div>form>input{
    border: none;
    outline: none;
    font-size: 12px;
    width: 150px;
    background-color: #fff;
    color: #000;
}
.container-footer>div>form>button{
    padding: 10px 20px;
    font-size: 10px;
    border: none;
    outline: none;
    border-radius: 7px;
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    cursor: pointer;
}
.container-footer>div>form>button:hover{
    background: #06655c;
    color: #fff;
    transform: translateY(-6px);
    transition: 0.5s;
}

.social-links{
    text-align: center;
    align-items: center;
}
.social-links .fa{
    height: 30px;
    width: 30px;
    font-size: 15px;
    line-height: 30px;
    border: 1px solid #06655c;
    margin: 40px 5px 0;
    color: #06655c;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 9px;
}
.social-links .fa:hover{
    background: #06655c;
    color: #fff;
    transform: translateY(-8px);
}
.footer-copyright{
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 12px;
    /* ~ */
    display: flex;
    /* position: relative; */
    /* right: 500px; */
    justify-content: center;
}

@media screen and (max-width: 770px) {
    .container-footer{
        flex-basis: 100%;
        font-size: 14px;
    }
}